In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
matplotlib.style.use('ggplot')
matplotlib.style.use('seaborn-notebook')
plt.rcParams['figure.figsize'] = (14.0, 11.0)

In [3]:
data = pd.read_csv('data/orders_train.txt', sep=';')
# create explicit date objects
data['orderDate'] = pd.to_datetime(data['orderDate'])
# strings to integers
data['orderID'] = data['orderID'].apply(lambda x: x.replace('a', '')).astype(np.int)
data['articleID'] = data['articleID'].apply(lambda x: x.replace('i', '')).astype(np.int)
data['customerID'] = data['customerID'].apply(lambda x: x.replace('c', '')).astype(np.int)
# remove nan in productGroup with 0 (zero was unused indeed) -- USE IMPUTATION OR LEARNING RATHER
data['productGroup'] = np.nan_to_num(data['productGroup']).astype(np.int)

In [4]:
data #index_col='orderID',

,orderID,orderDate,articleID,colorCode,sizeCode,productGroup,quantity,price,rrp,voucherID,voucherAmount,customerID,deviceID,paymentMethod,returnQuantity
0,1000001,2014-01-01,1000382,1972,44,3,1,10.00,29.99,0,0,1010575,2,BPRG,0
1,1000001,2014-01-01,1000550,3854,44,3,1,20.00,39.99,0,0,1010575,2,BPRG,0
2,1000002,2014-01-01,1001991,2974,38,8,1,35.00,49.99,0,0,1045905,4,BPRG,0
3,1000002,2014-01-01,1001999,1992,38,8,1,49.99,49.99,0,0,1045905,4,BPRG,1
4,1000003,2014-01-01,1001942,1968,42,8,1,10.00,35.99,0,0,1089295,2,PAYPALVC,0
5,1000003,2014-01-01,1001942,1972,42,8,1,10.00,35.99,0,0,1089295,2,PAYPALVC,0
6,1000003,2014-01-01,1001974,1001,42,8,1,25.00,39.99,0,0,1089295,2,PAYPALVC,0
7,1000003,2014-01-01,1001976,3976,44,8,1,15.00,39.99,0,0,1089295,2,PAYPALVC,0
8,1000003,2014-01-01,1002392,2493,42,13,0,0.00,59.99,0,0,1089295,2,PAYPALVC,0
9,1000004,2014-01-01,1002457,1001,42,14,1,89.99,89.99,0,0,1050116,3,BPRG,1
10,1000005,2014-01-01,1000366,1968,42,3,1,15.00,39.99,0,0,1089296,2,BPRG,1
11,1000005,2014-01-01,1000406,3972,40,3,1,10.00,29.99,0,0,1089296,2,BPRG,1
12,1000005,2014-01-01,1000406,3972,42,3,1,10.00,29.99,0,0,1089296,2,BPRG,1
13,1000006,2014-01-01,1001957,3001,38,8,0,0.00,39.99,0,0,1089297,2,BPRG,0
14,1000006,2014-01-01,1001993,3974,38,8,1,25.00,39.99,0,0,1089297,2,BPRG,0
15,1000007,2014-01-01,1000012,1974,34,1,1,15.00,49.99,0,0,1084986,2,BPRG,0
16,1000007,2014-01-01,1000024,2974,36,1,1,20.00,69.99,0,0,1084986,2,BPRG,1
17,1000007,2014-01-01,1000235,1974,27,2,1,15.00,59.99,0,0,1084986,2,BPRG,1
18,1000008,2014-01-01,1001642,1001,44,7,1,110.00,149.99,0,0,1089298,2,BPRG,1
19,1000009,2014-01-01,1001767,1999,44,8,1,39.99,39.99,0,0,1054307,2,BPRG,0
20,1000009,2014-01-01,1001768,1995,44,8,1,39.99,39.99,0,0,1054307,2,BPRG,0
21,1000009,2014-01-01,1002263,1001,44,13,1,69.99,69.99,0,0,1054307,2,BPRG,0
22,1000009,2014-01-01,1002266,1001,44,13,1,59.99,59.99,0,0,1054307,2,BPRG,0
23,1000009,2014-01-01,1002268,1001,44,13,1,69.99,69.99,0,0,1054307,2,BPRG,1
24,1000009,2014-01-01,1002269,3001,44,13,1,69.99,69.99,0,0,1054307,2,BPRG,0
25,1000010,2014-01-01,1001485,1978,34,6,1,50.00,69.99,0,0,1089299,2,BPRG,1
26,1000010,2014-01-01,1001486,1953,36,6,1,55.00,79.99,0,0,1089299,2,BPRG,1
27,1000010,2014-01-01,1001486,1978,36,6,1,55.00,79.99,0,0,1089299,2,BPRG,1
28,1000010,2014-01-01,1002067,1970,32,9,1,10.00,49.99,0,0,1089299,2,BPRG,1
29,1000010,2014-01-01,1002243,3978,34,13,1,20.00,49.99,0,0,1089299,2,BPRG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325135,1744170,2015-09-30,1002555,3086,I,17,1,20.00,29.99,0,0,1043357,3,BPRG,1
2325136,1744170,2015-09-30,1003147,1001,44,3,1,25.99,25.99,0,0,1043357,3,BPRG,0
2325137,1744170,2015-09-30,1003211,1493,44,3,1,35.99,35.99,0,0,1043357,3,BPRG,1
2325138,1744171,2015-09-30,1001450,2001,44,5,1,59.99,59.99,0,0,1319461,3,BPRG,1
2325139,1744171,2015-09-30,1001569,1934,44,7,1,139.99,139.99,0,0,1319461,3,BPRG,1
2325140,1744171,2015-09-30,1001728,1001,44,8,1,49.99,49.99,0,0,1319461,3,BPRG,0
2325141,1744171,2015-09-30,1001742,1111,44,8,1,29.99,29.99,0,0,1319461,3,BPRG,1
2325142,1744171,2015-09-30,1003237,1092,44,3,1,20.00,29.99,0,0,1319461,3,BPRG,0
2325143,1744171,2015-09-30,1003276,1001,44,3,1,39.99,39.99,0,0,1319461,3,BPRG,1
2325144,1744171,2015-09-30,1003596,7166,34,2,1,69.99,69.99,0,0,1319461,3,BPRG,1
2325145,1744171,2015-09-30,1003618,7083,34,2,1,69.99,69.99,0,0,1319461,3,BPRG,1
2325146,1744172,2015-09-30,1000477,1092,36,3,1,20.00,39.99,v1000415,10,1252778,2,PAYPALVC,0
2325147,1744172,2015-09-30,1001081,1003,36,3,1,9.00,29.99,v1000415,10,1252778,2,PAYPALVC,0
2325148,1744172,2015-09-30,1001082,1033,34,3,1,9.00,29.99,v1000415,10,1252778,2,PAYPALVC,0
2325149,1744172,2015-09-30,1001092,1033,34,3,1,15.00,29.99,v1000415,10,1252778,2,PAYPALVC,1
2325150,1744172,2015-09-30,1003134,1493,36,3,1,20.00,27.99,v1000415,10,1252778,2,PAYPALVC,0
2325151,1744172,2015-09-30,1003262,1001,36,3,1,25.00,35.99,v1000415,10,1252778,2,PAYPALVC,0
2325152,1744173,2015-09-30,1001562,1096,38,7,1,89.99,89.99,0,0,1319457,2,BPRG,0
2325153,1744173,2015-09-30,1002185,1092,38,9,0,0.00,59.99,0,0,1319457,2,BPRG,0
2325154,1744173,2015-09-30,1003234,1082,38,3,1,39.99,39.99,0,0,1319457,2,BPRG,1
2325155,1744174,2015-09-30,1001730,2493,42,8,1,39.99,39.99,0,0,1319454,4,BPRG,0
2325156,1744174,2015-09-30,1003916,3001,42,1,1,59.99,59.99,0,0,1319454,4,BPRG,1
2325157,1744174,2015-09-30,1003916,3001,44,1,1,59.99,59.99,0,0,1319454,4,BPRG,0
2325158,1744175,2015-09-30,1001462,1090,40,6,1,39.99,39.99,0,0,1055877,3,CBA,1
2325159,1744175,2015-09-30,1003229,2096,38,3,1,35.99,35.99,0,0,1055877,3,CBA,1
2325160,1744175,2015-09-30,1003273,3096,40,3,1,35.99,35.99,0,0,1055877,3,CBA,1
2325161,1744176,2015-09-30,1003256,2117,42,3,1,39.99,39.99,0,0,1124916,2,CBA,0
2325162,1744177,2015-09-30,1001692,1001,38,8,1,20.00,29.99,0,0,1168483,3,CBA,0
2325163,1744177,2015-09-30,1001757,1085,38,8,1,18.00,35.99,0,0,1168483,3,CBA,0
2325164,1744177,2015-09-30,1001757,1097,38,8,1,18.00,35.99,0,0,1168483,3,CBA,0

In [5]:
# Check if rows with 0 quantity can have a return quantity.
df_sub = data[data['quantity'] == 0]
df_sub = df_sub[df_sub['returnQuantity'] > 0]

In [6]:
data['productGroup'].dtype

dtype('int64')

In [7]:
set(data['returnQuantity'])

{0, 1, 2, 3, 4, 5}

In [8]:
0 in list(set(data['productGroup']))

True